@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    max-width: calc(100vw - 233px);
    margin: 0 auto;
  }
  .logo a {
    font-size: 17px;
  }
  .heading,
  .subheading {
    font-size: 34px;
    line-height: 40px;
  }
  .banner-content {
    position: absolute;
  }
  .banner-btn a {
    font-size: 16px;
  }
  .description-wrapper .title,
  .description-wrapper .description {
    font-size: 18px;
    line-height: 23px;
  }
  .description-wrapper .description {
    font-size: 14px;
  }
  .text-wrapper .text-lorem,
  footer ul.footer-links>li>a {
    line-height: 25px;
    font-size: 14px;
  }
  .banner-btn {
    max-width: 230px;
    height: 60px;
  }
  .third-block .text-wrapper {
    max-width: 65%;
    width: auto;
  }
  .message-text {
    font-size: 12px;
    line-height: 15px;
  }
  .btn-wrapper {
    margin-right: 30px;
  }
  .btn-circle {
    width: 45px;
    height: 45px;
  }
  .btn-circle>img {
    width: 28px;
    height: 28px;
  }
  .btn-circle+p {
    font-size: 13px;
  }
  .third-block .divider {
    height: 1px;
    max-width: calc(100vw - 233px);
  }
  .footer-logo {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  html,
  body {
    position: relative;
    overflow-x: hidden;
  }
  .container {
    max-width: calc(100vw - 90px);
  }
  header div .logo {
    padding-top: 30px;
  }
  .logo a {
    font-size: 13px;
  }
  nav ul {
    padding-top: 38px;
  }
  ul li:first-child {
    margin-right: 14px;
  }
  ul li img.fb {
    width: 16px;
    height: 16px;
  }
  ul li img.tw {
    width: 18px;
    height: 15px;
    image-rendering: -webkit-optimize-contrast;
  }
  .banner-content {
    width: calc(100vw - 90px);
    text-align: center;
    margin: 300px auto;
  }
  .heading,
  .subheading {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
    text-align: center;
  }
  .banner-btn {
    max-width: 190px;
    height: 55px;
    padding: 10px;
    margin-top: 50px
  }
  .banner-btn a {
    font-size: 13px;
  }
  #second-block .container {
    padding: 50px 0 0;
  }
  #second-block .title-wrapper {
    margin-bottom: 65px;
  }
  .images {
    display: flex;
    flex-direction: column;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    width: auto;
    margin-right: 0;
  }
  .info img {
    width: auto;
  }
  .description-wrapper {
    padding-top: 20px;
    text-align: center;
  }
  .description-wrapper .title,
  .description-wrapper .description {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  .description-wrapper .description {
    font-size: 14px;
    padding-top: 10px;
    line-height: 21px;
    font-weight: 300;
  }
  .btn-wrapper {
    margin-right: 0;
  }
  .btn-circle {
    width: 38px;
    height: 36px;
    margin-bottom: 12px;
  }
  .btn-circle>img {
    width: 25px;
    height: 25px;
  }
  .btn-circle+p {
    font-size: 12px;
    font-weight: 600;
  }
  .third-block .container {
    display: flex;
    flex-direction: column;
  }
  .text-part {
    padding: 50px 0 0;
    max-width: 100%;
    width: auto;
  }
  .third-block .text-wrapper {
    max-width: 100%;
  }
  .text-wrapper .text-lorem {
    margin: 30px 0;
    font-weight: 300;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
  }
  .third-block .text-part .banner-btn {
    max-width: 170px;
    height: 35px;
    padding: 10px;
    margin: 30px auto;
    position: relative;
    left: calc(50% - 85px);
  }
  .chat-part {
    padding: 0 0 70px;
    height: 700px;
    width: 100%;
  }
  .third-block .chat-part .buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .message-left .message-text,
  .message-right .message-text {
    max-width: 220px;
    line-height: 13px;
    font-size: 12px;
  }
  .divider {
    height: 2px;
    max-width: calc(100vw - 100px);
  }
  .third-block footer .container {
    display: flex;
    flex-direction: column-reverse;
  }
  footer .left-content {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  footer div.logo {
    margin-bottom: 0;
  }
  .footer-logo {
    font-size: 13px;
    padding-top: 5px;
  }
  footer .links {
    display: flex;
    justify-content: space-between;
  }
  footer ul.footer-links:last-child {
    margin-left: 0;
  }
  footer ul.footer-links>li>a {
    font-size: 14px;
  }
}

@media (max-width: 310px){
   .banner-content {
    text-align: center;
    right: calc(50% - 152px);
     width: auto;
  }
  .heading,
  .subheading {
    margin: 0 3px 15px;
  }
}
